<h2>Change Password</h2>

<div class="chunk">
  <form ng-submit="updatePassword()">
    <div class="error" error-messages="errorMessages"></div>
    <table>
      <tr>
        <td>Current Password</td>
        <td><input type="password" name="current_password" /></td>
      </tr>
      <tr>
        <td>New Password</td>
        <td><input type="password" name="new_password" /></td>
      </tr>
      <tr>
        <td>New Password Confirmation</td>
        <td><input type="password" name="new_password_confirmation" /></td>
      </tr>
    </table>
    <input type="submit" value="Change Password" />
  </form>
</div>
