<h2>{{user.username}}</h2>
<div class="chunk" id="change-password">
  <h3>Change Password</h3>
  <div class="success" ng-show="successMessage">
    {{successMessage}}
  </div>
  <form ng-submit="updatePassword()">
    <div class="vertical-fields">
      <div class="field">
        <label for="current_password">Current Password</label>
        <div><input type="password" name="current_password" ng-model="user['current-password']" /></div>
        <div class="error" error-messages="errors['current-password']"></div>
      </div>

      <div class="field">
        <label for="new_password">New Password</label>
        <div><input type="password" name="new_password" ng-model="user['new-password']"/></div>
        <div class="error" error-messages="errors['new-password']"></div>
      </div>
      <div class="field">
        <label for="new_password_confirmation">New Password Confirmation</label>
        <div><input type="password" name="new_password_confirmation" ng-model="user['new-password-confirmation']"/></div>
        <div class="error" error-messages="errors['new-password-confirmation']"></div>
      </div>
    </div>
    <input type="submit" value="Change Password" />
  </form>
</div>
