node_modules
dist
.tmp
.sass-cache
*#*
.lein-env
.vagrant
*.jar
profiles.clj
html-app/app/components
server/resources/html-app
infrastructure/ansible/prod*
infrastructure/ansible/demo
infrastructure/ansible/files/env

