<div id="topics">
  <div class="post" ng-repeat="topic in topics">
    <div class="content" ng-bind-html-unsafe="topic['first-post'].content"></div>
    <footer>
      <div class="date">{{topic.date}}</div>
      <div class="author">
        <a href="" ng-click="peekAt(topic.author)">
          {{topic.author.username}}
        </a>
      </div>
      <div class="favorite">
        <a href="#">&#9733;</a>
      </div>
      <a href="/#/topics/{{topic.id}}/" class="comments">
        {{formatPostCount(topic['post-count'])}}
      </a>
    </footer>
  </div>
</div>
