<div id="main">
  <div id="topic">
    <div class="summary"></div>
    <h2>{{topic.title}}</h2>
    <div class="posts">
      <post model="firstPost" peek="peek" first-post="true">
      </post>
      <div class="reply">
        <form ng-submit="submitReply()">
          <div class="error" error-messages="errors.content"></div>
          <textarea
             class="auto-expand"
             ng-model="reply.content"
             placeholder="Post a reply..."></textarea>
          <div class="actions">
            <input type="submit" class="save" value="Post Reply" />
            <a href="#" class="toggle-formatting-help">formatting help</a>
          </div>   
        </form>
      </div>
      <div class="replies">
        <post model="post" peek="peek" ng-repeat="post in topic.posts">
        </post>
      </div>
    </div>
  </div>
</div>

<div id="more" ng-hide="currentSession.loggedIn()">
  <a href="#/login">Login or join to post a reply</a>
</div>


<div id="more" ng-show="currentSession.loggedIn()">
  <div id="watch-status" class="secondary" ng-controller="WatchesToggleCtrl">
    <div ng-show="watching()">
      <h3>Watching</h3>
      <p>
        You will get notifications when this topic is updated. This
        topic will appear in your "watched topics" list.
      </p>
      <form ng-submit="destroyWatch()">
        <input type="submit" value="Stop Watching" />
      </form>
    </div>
    <div ng-hide="watching()">
      <h3>Not Watching</h3>
      <p>
        Watch this topic to get notifications when it's updated. It will
        appear in your "watched topics" list.
      </p>
      <form ng-submit="createWatch()">
        <input type="submit" value="Watch" />
      </form>
    </div>
  </div>
</div>
