<div id="topic">
  <div class="summary"></div>
  <div class="title">{{topic.title}}</div>
  <div class="posts">
    <post post="firstPost">
    </post>
    <div class="reply">
      <form ng-submit="submitReply()">
        <textarea
           ng-model="reply.content"
           placeholder="Post a reply..."></textarea>
        <div class="error" error-messages="errors.content"></div>
        <input type="submit" value="Post Reply" />
      </form>
    </div>
    <div class="replies">
      <post post="post" ng-repeat="post in topic.posts">
      </post>
    </div>
  </div>
</div>
