@import "base";

$M: 52em;
$L: 75em;

.container {
  // page acts as a container for our grid.
  @include container;
  @include trailer;
  @include leader;
  position: relative;
}

#search-results .posts, #topics {
  position: relative;
}

nav.primary, .fancy {
  @include trailer;

  #mailing-list {
    display: none;
  }

  @include at-breakpoint($M) {
    @include padding-trailer;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 223px;
    margin-bottom: 0;

    ul a {
      text-align: right;
    }

    #mailing-list {
      display: block;
      padding: 0 1em;
      position: absolute;
      bottom: rhythm(1);
      text-align: right;

      a:hover {
        text-decoration: none;
      }
    }
  }

  background: rgba(252, 236, 205, .2); // orange
  
  @include transition-property("all");
  @include transition-duration(".3s");
  &:hover {
    background: rgba(252, 236, 205, .4); // orange
    //background: rgba(116, 147, 218, .4);

    ul a {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  @include padding-leader;

  ul {
    @include trailer;
    list-style: none;

    a {
      background: rgba(255, 255, 255, 0.3);
      color: #444;
      // @include bshadow;
      height: rhythm() - rhythm(.05);
      @include sans-family;
      @include trailer(.05);
      @include padding-leader(.5);
      @include padding-trailer(.5);
      @include transition-property("all");
      @include transition-duration(".3s");
      padding-left: .5em;
      padding-right: .5em;
      display: block;

      &:hover {
        text-decoration:none;
        background: rgba(255, 255, 255, .8);
      }

      &:visited {
        color: #444;
      }
    }
  }

  .credential-recovery-links {
    @include leader(.5);
    padding-left: 1em;
    a {
      color: $dark-blue;
      display: block;
      &:hover, &:visited {
        color: $dark-purple;
        text-decoration: none;
      }
    }
  }
}

.fancy {
  table label {
    text-align: left;
  }
}

nav.secondary {
  ul {
    list-style: none;
  }
  
  a {
    background: rgba(255, 255, 255, 0.3);
    color: #444;
    // @include bshadow;
    height: rhythm() - rhythm(.05);
    @include border-radius(2px);
    @include sans-family;
    @include trailer(.05);
    @include padding-leader(.5);
    @include padding-trailer(.5);
    @include transition-property("all");
    @include transition-duration(".3s");
    padding-left: .5em;
    padding-right: .5em;
    display: block;
    text-align: left;

    &:hover, &.active {
      text-decoration: none;
      background: rgba(255, 255, 255, .8);
    }

    &:visited {
      color: #444;
    }
  }

  .about {
    @include leader(2.5);
  }
}

.secondary {
  @include trailer;
}

#main {
  @include at-breakpoint($M) {
    @include span-columns(6, 12);
    @include push(3, 12);
  }
}

#more {
  @include at-breakpoint($M) {
    @include span-columns(3 omega, 12);
    @include padding-trailer;
  }
}

.vertical-fields {
  @include trailer;
  .field {
    @include trailer;
  }
}

footer {
  .author, .in-topic, .date {
    float: left;
    margin-right:.5em;
  }
  
  .comments, .unread-count {
    float:right;
    margin-right:.5em;
  }

  .unread-count {
    color: $dark-green;
  }
  
  .like {
    margin-left: .5em;
    float:right;
    display:block;
    color: #aaa;
    
    &:hover, &.liked {
      color:#333;
      text-decoration:none;
      cursor: pointer;
    }

    &.added {
      background: #ebf4f6;
      color: $blue;
      @include transition-property("all");
      @include rotate(360deg);
      @include transition-duration(".5s");
      position: relative;
      left: 1px;
    }
  }
  .tags {
    margin-bottom: 0;
    float: left;
    .tag {
      background: #a1b6d2;
      color: white;
    }
  }
}