#more {
  .peek {
    // padding: 0 $gutter-width;
    @include padding-leader;
    @include padding-trailer;
    @include border-radius(2px);
  }

  .peek.white {
    background: white;
    @include bshadow;
  }

  .user {    
    .username {
      margin-top:0;
    }
  }

  .post {
    @include leading-border;
    @include trailer;
    border-color: #ccc;

    p:last-child {
      margin-bottom:0;
    }

    .date {
      @include adjust-font-size-to(12px);
      margin-left: 3px;
      margin-right: 1px;
      padding-left: 5px;
      border-left: 1px solid #eee;
      float: right;
      font-style: italic;
    }
  }
}