#about {
  position: relative;
  .gravatar {
    position: absolute;
    // top: rhythm(-.25);
    top: 0;
    right: .5 * $gutter-width;
    @include padding-leader(.5);
    background: $light-blue;
  }
  .chunk .content-edit {
    @include trailer;
  }
}

#change-password {
  table td:first-child {
    padding-right: $gutter-width;
  }
}

#change-email {
  #email {
    width: 75%;
  }
}