#topics {
  h3.title {
    margin-top: 0;
    @include sans-family;
    @include box-sizing(border-box);
    color: #333;
  }

  .post {
    .date {
      float:right;
      margin-right: .5em;
    }
  }
}

#topic h2 {
  color: #444;
  border-bottom: 1px solid #666;
  @include box-sizing(border-box);
  @include adjust-font-size-to(27px, 1);
  @include padding-trailer(.5, 27px);
  @include trailer(.5, 27px);
  @include leader(0);
}

select.privacy {
  font-family: 'FontAwesome', "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  margin-right: .5em;
}