[
 ;; topics
 {:db/id #db/id[:db.part/db]
  :db/ident :topic/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Topic title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :topic/first-post
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Post which initiates topic"
  :db.install/_attribute :db.part/db}

 ;; posts
 {:db/id #db/id[:db.part/db]
  :db/ident :post/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Post content"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :post/topic
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A post's topic"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :post/position
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Position in topic"
  :db.install/_attribute :db.part/db}
]