[
 {:district/region :region/e, :db/id #db/id[:db.part/user -1000001], :district/name "East"}

 {:topic/title "First topic"
  :db/id #db/id[:db.part/user -1000001]}

 {:post/content "First post content"
  :post/topic #db/id[:db.part/user -1000001]}
 {:post/content "Second post content"
  :post/topic #db/id[:db.part/user -1000001]}
]