<div id="main">
  <h2>Forgot Username?</h2>
  <div class="chunk">
    <h3>Get that username!</h3>
    <p>
      Enter the email address you signed up with and we'll email your
      username emailed to you.
    </p>
    <p>
      If you need further help recovering your email address, please
      email <a href="mailto:daniel@gratefulplace.com">daniel@gratefulplace.com</a>.
    </p>
    <form ng-submit="submitForgotUsernameRequest()">
      <div class="error" error-messages="errorMessages"></div>
      <div class="vertical-fields">
        <div class="field">
          <label for="email">Email Address</label>
          <div><input type="email" id="email" name="email" ng-model="user['email']" /></div>
          <div class="error" error-messages="errors['email']"></div>
        </div>
      </div>
      <div class="actions">
        <input type="submit" value="Send that bad Jackson!" class="save" />
      </div>
    </form>
  </div>
</div>
