<div id="main">
  <h2>Forgot Password?</h2>
  <div class="chunk">
    <h3>Get that password!</h3>
    <p>
      Enter your username and we'll email you a link to reset your password.
    </p>
    <p>
      If you need further help recovering your password, please
      email <a href="mailto:daniel@gratefulplace.com">daniel@gratefulplace.com</a>.
    </p>
    <form ng-submit="submitForgotPasswordRequest()">
      <div ng-show="success" class="success">
        Success! Check your email for a password reset link.
      </div>
      <div class="vertical-fields">
        <div class="field">
          <label for="username">Username</label>
          <div><input type="username" id="username" name="username" ng-model="forgotPasswordRequest['username']" required/></div>
          <div class="error" error-messages="errorMessages['username']"></div>
        </div>
      </div>
      <div class="actions">
        <input type="submit" value="Send that bad Jackson!" class="save" />
      </div>
    </form>
  </div>
</div>
