<div id="main">
  <h2>Reset Password</h2>
  <div class="chunk">
    <p>
      Please enter your new password below:
    </p>
    <form ng-submit="updatePassword()">
      <div class="vertical-fields">
        <div class="field">
          <label for="new_password">New Password</label>
          <div><input type="password" name="new_password" ng-model="user['new-password']"/></div>
          <div class="error" error-messages="errors['new-password']"></div>
        </div>
        <div class="field">
          <label for="new_password_confirmation">New Password Confirmation</label>
          <div><input type="password" name="new_password_confirmation" ng-model="user['new-password-confirmation']"/></div>
          <div class="error" error-messages="errors['new-password-confirmation']"></div>
        </div>
      </div>
      <input type="submit" value="Change Password" />
    </form>
    <p>
      If you need further help recovering your password, please
      email <a href="mailto:daniel@gratefulplace.com">daniel@gratefulplace.com</a>.
    </p>
  </div>
</div>
