<nav>
  <ul>
    <li><a href="#">Notifications</a></li>
    <li><a href="#">Friend Activity</a></li>
    <li><a href="#">Your Account</a></li>
    <li><a href="#">Log Out</a></li>
  </ul>
</nav>

<div id="main">
  <div id="topics">
    <div class="post" ng-repeat="topic in topics">

      <div class="content" ng-bind-html-unsafe="topic.content"></div>
      <footer>
        <div class="date">{{topic.date}}</div>
        <div class="author">{{topic.author}}</div>
        <div class="favorite">
          <a href="#">&#9733;</a>
        </div>
        <a href="#" class="comments">23 replies</a>
      </footer>
    </div>
  </div>
</div>

