[
 ;; session
 {:db/ident :session/key
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/index true
  :db/doc "Key to look up session"
  :db.install/_attribute :db.part/db}

 {:db/ident :session/data
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/index true
  :db/doc "All session data"
  :db.install/_attribute :db.part/db}
 
 ;; users
 {:db/id #db/id [:db.part/db]
  :db/ident :user/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :user/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db.install/_attribute :db.part/db}
 
 ;; topics
 {:db/id #db/id[:db.part/db]
  :db/ident :topic/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Topic title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :topic/first-post
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Post which initiates topic"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :topic/last-posted-to-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Time of last post to this topic"
  :db.install/_attribute :db.part/db}

 ;; posts
 {:db/id #db/id[:db.part/db]
  :db/ident :post/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Post content"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :post/topic
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A post's topic"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :post/created-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "When the post was created"
  :db.install/_attribute :db.part/db}
 
 ;; content
 {:db/id #db/id[:db.part/db]
  :db/ident :content/author
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "General author attribute"
  :db.install/_attribute :db.part/db}]
