<div id="main">
  <loader></loader>
  <div ng-show="user">
    <h2>{{user.username}}</h2>
    <div id="about">
      <h3>About {{user.username}}</h3>
      <div class="chunk">
        <div ng-show="hasAbout()">
          <div ng-bind-html-unsafe="user['formatted-about']">
          </div>
        </div>
        <div ng-hide="hasAbout()">
          <p>{{user.username}} hasn't filled out a profile yet</p>
        </div>
      </div>

      <div class="posts">
        <h3>Posts by {{user['username']}} ({{paginationData['ent-count']}})</h3>
        <pagination-nav pagination-data=paginationData></pagination-nav>
        <post model="post" peek="peek" show-topic="true" ng-repeat="post in user.posts">
        </post>
        <pagination-nav pagination-data=paginationData></pagination-nav>
      </div>
    </div>
  </div>
</div>

<div id="more">
  <div class="profile-pic">
    <img ng-src="{{user['large-gravatar']}}" class="gravatar"/>
  </div>
</div>
