<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
  </head>
  <body ng-app="gratefulplaceApp" ng-controller="FoundationCtrl">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

    <!--[if lt IE 9]>
        <script src="components/es5-shim/es5-shim.js"></script>
        <script src="components/json3/lib/json3.min.js"></script>
        <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div ng-show="currentSession">
        <nav class="primary">
          <ul>
            <li><a href="#/">Home</a></li>
            <li ng-show="currentSession" ng-controller="WatchedTopicsNavCtrl">
              <a href="#/watched-topics">
                Watched Topics
                <span ng-show="watchedTopicCount > 0">
                  ({{watchedTopicCount}})
                </span>
              </a>
            </li>
            <li ng-show="currentSession">
              <a href="#/profile/about">Your Profile</a>
            </li>
            <li ng-show="currentSession">
              <a href="/logout">Log Out</a>
            </li>
            <li ng-hide="currentSession"><a href="#/login">Log In / Register</a></li>
          </ul>

          <div id="mailing-list">
            Found a bug? Want a feature? Share your thoughts on the
            <a href="mailto:gratefulplace-dev@googlegroups.com">development
              mailing list!
            </a>
          </div>
        </nav>
        <div id="main">
          <div ng-view>
          </div>
        </div>
        <div id="more">
          <nav class="secondary">
            <ng-include src="support.secondaryNav.include()"></ng-include>
          </nav>
          <ng-include src="support.peek.include()"></ng-include>
        </div>
      </div>

      <div ng-show="!currentSession">
        <div class="fancy">
          <div id="login" ng-controller="LoginCtrl">
            <h3>Log In</h3>
            <form ng-submit="submitLogin()" novalidate>
              <div class="clearfix">
                <table class="input">
                  <tbody>
                    <tr>
                      <td>
                        <label for="login-username">Username</label>
                      </td>
                      <td>
                        <input value=""
                               type="text"
                               name="username"
                               id="login-username"
                               ng-model="login.username"
                               required />
                        <div class="error" error-messages="errors.username"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="login-password">Password</label>
                      </td>
                      <td>
                        <input type="password"
                               name="password"
                               id="login-password"
                               ng-model="login.password"
                               required />
                      </td>
                    </tr>
                </tbody></table>
              </div>
              <input value="Log In" type="submit">
            </form>
          </div>
        </div>
        <div id="main">
          <!--
          <h2>Grateful Place</h2>
          <div class="chunk white">
            <blockquote>
              <p>
                Happiness is not something that you pursue; it is something you
                allow.
              </p>
              <cite>&mdash; Chade Meng-Tan</cite>
            </blockquote>
            <p>
              Most of us were taught that happiness can only be won by effort.
              Pursue your dreams, rack up accomplishments, get everything just
              right and &ndash; the thinking goes &ndash; you will be happy.
            </p>
            <p>
              Except that's not how it works. You've probably heard that
              <a href="http://www.forbes.com/sites/susanadams/2012/11/28/why-winning-powerball-wont-make-you-happy/">winning
                the lottery does not make people permanently happier</a>. In
              general, research shows that we adjust to positive changes to our
              circumstances, leaving us about as happy as before.
            </p>
            <p>
              Getting a raise, buying a house &mdash; these events only have a
              short-term impact on happiness. There's even a spiffy name for
              this phenomenon: the "hedonic treadmill."
            </p>

            <h3>Step Off the Treadmill</h3>
            <p>
              <a href="http://www.nytimes.com/2011/11/22/science/a-serving-of-gratitude-brings-healthy-dividends.html">Research
                shows</a> that one way to achieve a lasting increaase in happiness
              is to cultivate a sense of gratitude. This can be as simple as
              taking a few minutes every day to write down a few things you're
              grateful for.
            </p>
            <p>
              Think of it this way: why should you put conditions on your
              happiness? Instead of instead of believing that life be a certain
              away before you feel OK, you can learn to be happy with life
              exactly as it is.
            </p>
            <h3>Join the Community</h3>
            <p>
              This site is dedicated to providing a supportive community for
              those looking to cultivate a sense of gratitude. It's a home for
              those who want to increase their own happiness and peace and help
              others do the same. If that sounds like you, then we'd love for
              you to join:
            </p>
            -->

            
            <div id="signup" ng-controller="RegisterCtrl">
              <form ng-submit="submitRegistration()" novalidate>
                <div class="clearfix">
                  <table class="input">
                    <tbody><tr>
                        <td>
                          <label for="registration-username">Username</label>
                        </td>
                        <td>
                          <input value=""
                                 type="text"
                                 name="username"
                                 id="registration-username"
                                 ng-model="registration.username"
                                 required >
                          <div class="error" error-messages="errors.username"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="registration-password">Password</label>
                        </td>
                        <td>
                          <input type="password"
                                 name="password"
                                 id="registration-password"
                                 ng-model="registration.password"
                                 required>
                          <div class="error" error-messages="errors.password"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="signup-email">Email</label>
                        </td>
                        <td>
                          <input type="email"
                                 name="email"
                                 id="signup-email"
                                 ng-model="registration.email"
                                 required>
                          <div class="error" error-messages="errors.email"></div>
                        </td>
                      </tr>
                  </tbody></table>
                  <div class="option">
                    <input type="checkbox"
                           name="receive-watch-notifications"
                           id="receive-watch-notifications"
                           ng-model="registration['receive-watch-notifications']">
                    <label for="receive-watch-notifications">
                      Receive email when people post to topics you're watching
                    </label>
                  </div>
                </div>
                <div class="action">
                  <input value="Join"
                         type="submit"
                         ng-disabled="form.$invalid">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="more">
        
      </div>
    </div>
    <div class="markdown-help hidden">
      <table>
        <tbody>
          <tr style="background-color: #ffff99; text-align: center">
            <td>
              <em>you type:</em>
            </td>
            <td>
              <em>you see:</em>
            </td>
          </tr>
          <tr>
            <td>*italics*</td>
            <td>
              <em>italics</em>
            </td>
          </tr>
          <tr>
            <td>**bold**</td>
            <td>
              <b>bold</b>
            </td>
          </tr>
          <tr>
            <td>[google!](http://google.com)</td>
            <td>
              <a href="http://google.com">google!</a>
            </td>
          </tr>
          <tr>
            <td>
              * item 1<br>* item 2<br>* item 3
            </td>
            <td>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>&gt; quoted text</td>
            <td>
              <blockquote>quoted text</blockquote>
            </td>
          </tr>
          <tr>
            <td>~~strikethrough~~</td>
            <td>
              <strike>strikethrough</strike>
            </td>
          </tr>
          <tr>
            <td>super^script</td>
            <td>
              super
              <sup>script</sup>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/lodash/dist/lodash.min.js"></script>
    <script src="components/moment/moment.js"></script>
    
    <!-- build:js(.tmp) scripts/scripts.js -->
    <script src="scripts/init.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/aspects/route-auth.js"></script>
    <script src="scripts/controllers/foundation.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/profile/about.js"></script>
    <script src="scripts/controllers/profile/email.js"></script>
    <script src="scripts/controllers/profile/password.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/secondary-nav/watches.js"></script>
    <script src="scripts/controllers/topics/new.js"></script>
    <script src="scripts/controllers/topics/query.js"></script>
    <script src="scripts/controllers/topics/show.js"></script>
    <script src="scripts/controllers/watched-topics-nav.js"></script>
    <script src="scripts/controllers/watched-topics.js"></script>
    <script src="scripts/directives/author.js"></script>
    <script src="scripts/directives/auto-expand.js"></script>
    <script src="scripts/directives/date.js"></script>
    <script src="scripts/directives/error-messages.js"></script>
    <script src="scripts/directives/like-toggle.js"></script>
    <script src="scripts/directives/post.js"></script>
    <script src="scripts/directives/toggle-formatting-help.js"></script>
    <script src="scripts/directives/topic.js"></script>
    <script src="scripts/services/authorize.js"></script>
    <script src="scripts/services/current_session.js"></script>
    <script src="scripts/services/like.js"></script>
    <script src="scripts/services/peek.js"></script>
    <script src="scripts/services/post.js"></script>
    <script src="scripts/services/support.js"></script>
    <script src="scripts/services/topic.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/watch.js"></script>
    <script src="scripts/services/watched-topic.js"></script>
    <!-- endbuild -->
    
    <script src="scripts/load-session.js"></script>
  </body>
</html>
